
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


@font-face {
    font-family: "ChaletComprime";
    src: url("../fontes/ChaletComprime.ttf");
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
}


.cabecalho {
    height: 70px;
    background: linear-gradient(90deg, #4b6cb7, #182848);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    border-bottom: 1px solid #3474eb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cabecalho .logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-site, .cabecalho .logo img {
    height: 50px;
    width: auto;
    max-width: 100px;
}

.cabecalho h1 {
    font-size: 2rem;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cabecalho .menu {
    display: flex;
    gap: 30px;
}

.cabecalho .menu li a {
    padding: 10px;
    color: #e8e8e8;
    font-weight: bold;
    font-size: 15px;
}

.cabecalho .menu li a:hover {
    border-bottom: 2px solid #fff;
}


.slides {
    position: relative;
    width: 80%;
    height: 400px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 20px;
}

.slide {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: left 0.5s ease-in-out;
}

.slide.active {
    left: 0;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


.catalogo, .vendas {
    padding: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.catalogo form, .catalogo .jogos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.catalogo label, .catalogo select, .catalogo input[type="number"], .catalogo button {
    margin: 5px;
    padding: 7px;
    border-radius: 5px;
}

.catalogo select, .catalogo input[type="number"] {
    border: 1px solid #ccc;
}

.catalogo button {
    background-color: #3474eb;
    color: #fff;
    border: none;
    cursor: pointer;
}

.catalogo button:hover {
    background-color: #555;
}

.vendas h2 {
    margin-bottom: 1rem;
}

.jogo {
    display: inline-block;
    width: 30%;
    margin: 1%;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.jogo img {
    width: 100%;
    height: auto;
    display: block;
}

.jogo h3 {
    margin: 0.5rem 0;
}

.jogo p {
    font-size: 1.2rem;
    color: #333;
}

.jogo button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.jogo button:hover {
    background-color: #555;
}


footer {
    background-color: #3474eb;
    color: #fff;
    text-align: center;
    padding: 13px;
    margin-top: auto;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #3474eb;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #555;
}